In [3]:
x=5
y=3
print (x)

5

y=6

In [4]:
print (x)

5

In [5]:
x=5
y="john"
print(x)
print(y)

5
john

In [8]:
x=4
x='sandy'
print(x)

sandy

In [9]:
x='ram'
x='sita'
print(x)

sita

In [13]:
x=str('3')
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [14]:
x=3
y="jessica"
print(type(x))

<class 'int'>

In [17]:
print(type(y))

<class 'str'>

In [21]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John1"

In [31]:
print(myvar)
print(my_var) 
print(_my_var) 
print(myVar)
print(MYVAR)
print ('2=3',myvar2)
print("hi all",myvar)

John
John
John
John
John
2=3 John1
hi all John

In [42]:
a=4
print(a)
print(2+3,'>',a)

4
5 > 4

2rama=5
rama ran=3
print(2var)

In [43]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-43-0e82719f22b4>, line 1)

In [44]:
2rama=5
rama ran=3
print(2var)

SyntaxError: invalid syntax (<ipython-input-44-93fdd1f79280>, line 1)

In [50]:
x,y,z= 3,4,5
print(x)
print(y)
print(x+y-z)

3
4
2

In [58]:
x,y,z= 1,4.2,6
print(x)
print(y)
print(type(x+(y-z)))

1
4.2
<class 'float'>

In [51]:
x,y,z="rama","raja",'rani'
print(x,y,z)

rama raja rani

In [60]:
x=y=z="rani"
print(x,y,z)

rani rani rani

In [65]:
x=y=z=9
print(x+y-z)

9

In [77]:
sunny= "nani","rani",'sony','raja'
x,y,z,a= sunny
print (a,x, y, z)

raja nani rani sony