In [3]:
print("hello worlds")

hello world

In [9]:
x = 7
y = 'sujanas'
print(x)
print(y)

7
sujana

In [18]:
x=2
x='sujana'
print(x)

sujana

In [40]:
a = float(3)
print(a)

3.0

In [37]:
 b= 2
 x= 'sujana'
print(type(b))
print(type(x))

<class 'int'>
<class 'str'>

In [42]:
itsVaried = 'sujana1'
_itsVaried ='sujana2'
its_varied='sujana3'
its__varied='sujana4'
itsvaried2222 ='sujana5'

print(itsVaried)
print(_itsVaried)
print(its_varied)
print(its__varied)
print(itsvaried2222)

sujana1
sujana2
sujana3
sujana4
sujana5

In [45]:
x,y,z='apples','bananas','cherry'
print(x)
print(y)
print(z)

apples
bananas
cherry

In [46]:
x=y=z='oranges'
print(x)
print(y)
print(z)

oranges
oranges
oranges

In [47]:
fruits=['kiwi','strawberry','grapes']
b,c,d=fruits
print(b)
print(c)
print(d)

kiwi
strawberry
grapes

In [56]:
x = 'awesome'
def myFunctionX():
    x='terrible'
    print(x)
    
myFunctionX()

print(x)

terrible
awesome

In [107]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

#creating a global variable inside a function ---- this variable can be used through out

In [60]:
X= 'Hola'

print(type(X))

<class 'str'>

In [61]:
A=20
print(type(A))

<class 'int'>

In [62]:
B=20.5
print(type(B))

<class 'float'>

In [64]:
C= True
print(type(C))

<class 'bool'>

In [65]:
D =['apple','banana','jackfruit']
print(type(D))

<class 'list'>

In [66]:
E=('custardapple','chicoo','dragonfruit')
print(type(E))

<class 'tuple'>

In [86]:
F = 1+3J
print(type(F))

<class 'complex'>

In [90]:
G=[5,10,15,20,25,30,40,50]
print("[G2]=",G[2])
print(G[0:2])
print(G[4:])

[G2]= 15
[5, 10]
[25, 30, 40, 50]

#Lists are mutuable , the value of elements can be altered

In [96]:
H=[1,2,3,4,5,6,7]
H[5]=20
print(H)

[1, 2, 3, 4, 5, 20, 7]

#Tuples are not mutable and they are used to protect data and are usually faster than lists as they cannot change dynamically

In [101]:
I=(20,'sujana',2+1j)
print(I[1])
print(I[1:])
I[2]=3

sujana
('sujana', (2+1j))

TypeError: 'tuple' object does not support item assignment

In [103]:
J='this is a string'
K='''this is a multi
line 
string'''
print(J)
print(K)

this is a string
this is a multi
line
string

#Just like a list and tuple, the slicing operator [ ] can be used with strings. Strings, however, are immutable.

In [105]:
J='this is a string'
print(J[6])

print(J[6:15])

s
s a strin

In [106]:
L={6,4,3,9,7,8,8}
print(L)

{3, 4, 6, 7, 8, 9}

#In a set if the same value is repeated it doesnt show in the result...sets have unique values and they eliminate duplicates....we can perform operations like union or intersections on two sets...slicing operator doesnt work in sets

In [ ]:
L